<div class="container">

    <div class="row col-md-7 mx-auto mt-5">
        <div class="">
            <header class="bg-dark text-white p-2 mb-3 text-center fs-4 rounded">
                Login
            </header>
        </div>
    
        <div class="">
            <form (ngSubmit)="submit()" [formGroup]="form">
                <div class="input-group mb-3">
                    <span class="input-group-text bg-dark text-white" id="email">&nbsp;&nbsp; Emaill &nbsp;&nbsp;</span>
                    <input type="email" formControlName="email" name="email" class="form-control" placeholder="Enter Email" aria-label="Email" aria-describedby="email"
                    [ngClass]="{'is-invalid': submitted && f.email.errors}">

                    <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                        <div *ngIf="f.email.errors.required">
                            Email is required
                        </div>

                        <div *ngIf="f.email.errors.email">
                            Email must be a valid email address
                        </div>
                    </div>
                </div>
                <div class="input-group mb-3">
                    <span class="input-group-text bg-dark text-white" id="password"> Password </span>
                    <input type="password" formControlName="password" name="password" class="form-control" placeholder="Enter Password" aria-label="Password" aria-describedby="password" [ngClass]="{'is-invalid': submitted && f.password.errors}">

                    <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                        <div *ngIf="f.password.errors.required">
                            Password is required
                        </div>

                        <div *ngIf="f.password.errors.minlength">
                            Password must be a atleast 6 characters
                        </div>
                    </div>
                </div>

                <button type="submit" name="submit" class="btn btn-primary text-white text-center col-md-12">Login</button>
                <hr>
                <p class="text-center">You don't have an account yet? <a [routerLink]="['/register']" routerLinkActive="router-link-active"  class="text-decoration-none">Register Now</a></p>
            </form>
        </div>
    </div>

</div>
